---
import SearchForm from "../../components/SearchForm.astro";
import PanelLayout from "../../layouts/PanelLayout.astro";
import {getAPIPath, timeDifference} from "../../js/utils.js";

const allSiteFetch: any = await fetch(getAPIPath() + "api/siteData.json").then(
    (Response) => Response.json(),
);

const allPanelServicesFetch: any = await fetch(getAPIPath() + "api/panelServices.json");
const allPanelServicesFrm_database = await allPanelServicesFetch.json();

//Fetching Site Settings
let servicePageListCount = allSiteFetch[0].platformServiceCount || 20;

---

<PanelLayout
    title={` on ${allSiteFetch[0].SiteTitle}`}
    metaDescription=`Search among Best SMM Panels, and SMM Services on ${allSiteFetch[0].SiteTitle}`
>
    <div
        class="content-wrapper flex flex-wrap lg:justify-start justify-center gap-5 my-6 px-5"
    >
        <article class="flex flex-col gap-5 w-full">
            <h1 class="searchResTitle text-2xl font-semibold"></h1>
            <div class="searchBox flex justify-center items-center">
                <div class="wrapper w-1/2">
                    <SearchForm searchPagePath={"/services/search"} />
                </div>
            </div>
            {
                allPanelServicesFrm_database.length > 0 ? (
                    <div class="services lg:min-h-[400px] flex flex-col justify-center items-center">
                        <h2 id="serviceHeading" class="text-3xl font-semibold">
                            Services
                        </h2>

                        <div class="tableTools w-full flex lg:flex-row flex-col items-center gap-3 py-3">
                            <div class="filterOptionsHolder w-fit relative">
                                <span class="filterSelected bg-white cursor-pointer p-3 border rounded-md hover:bg-slate-300 shadow-lg">
                                    <span>Sort by : Default</span> <i class="fa-solid fa-angle-down" />
                                </span>
                                <ul class="filterOptions absolute w-full mt-2 py-2 bg-white border rounded-md shadow-lg invisible">
                                    <li class="p-1 px-3 cursor-pointer hover:bg-slate-300">
                                        Default (No-Filter)
                                    </li>
                                    <li class="p-1 px-3 cursor-pointer hover:bg-slate-300">
                                        Newest Arrival
                                    </li>
                                    <li class="p-1 px-3 cursor-pointer hover:bg-slate-300">
                                        Services A-Z
                                    </li>
                                    <li class="p-1 px-3 cursor-pointer hover:bg-slate-300">
                                        Price Low to High
                                    </li>
                                    <li class="p-1 px-3 cursor-pointer hover:bg-slate-300">
                                        Price High to Low
                                    </li>
                                    <li class="p-1 px-3 cursor-pointer hover:bg-slate-300">
                                        Set Price Range
                                    </li>
                                </ul>
                            </div>

                            <div class="price-Range gap-2 hidden">
                                <span class="flex items-center gap-1">
                                    <p>Low</p>
                                    <input
                                        id="priceRangeLow"
                                        type="number"
                                        class="p-2 border rounded shadow"
                                    />
                                </span>
                                <span class="flex items-center gap-1">
                                    <p>High</p>
                                    <input
                                        id="priceRangeHigh"
                                        type="number"
                                        class="p-2 border rounded shadow"
                                    />
                                </span>
                                <button onclick="setPriceRange();" class="bg-white cursor-pointer p-3 border rounded-md hover:bg-slate-300 shadow-lg">
                                    Go
                                </button>
                            </div>
                        </div>

                        <div class="services-table-holder shadow-2xl text-center mt-5 lg:w-full w-[89vw] overflow-auto">
                            <div class="table-wrapper md:w-full w-[900px]">
                                <span class="offerHeader w-full flex bg-[#36304a] font-semibold text-white">
                                    <span class="offer_service_h my-6 w-[32.5%]">
                                        Service
                                    </span>
                                    <span class="offer_Minorder_h my-6 w-[13.5%]">
                                        Min order
                                    </span>
                                    <span class="offer_Maxorder_h my-6 w-[13.5%]">
                                        Max order
                                    </span>
                                    <span class="offer_rate_h my-6 w-[13.5%]">
                                        Rate per 1000
                                    </span>
                                    <span class="offer_rate_h my-6 w-[13.5%]">
                                        Check Panel Details
                                    </span>
                                    <span class="offer_rate_h my-6 w-[13.5%]">
                                        Visit Panel
                                    </span>
                                </span>

                                {allPanelServicesFrm_database.map(
                                    (smm_service: any, j: number) => (
                                        <span 
                                        class="offerList w-full hidden border-b border-gray-400">
                                            <span
                                                class:list={[ timeDifference(smm_service.serviceUploadDate) == "NA" ? "line-clamp-1" : "line-clamp-2"]}
                                                class="offer_service my-3 lg:w-[32.5%] w-[38.5%] text-left pl-3"
                                                title={
                                                    smm_service.serviceName
                                                }
                                            >
                                                {
                                                    timeDifference(smm_service.serviceUploadDate) != "NA" 
                                                    ? smm_service.serviceName.trim().substring(0, 41)
                                                    : smm_service.serviceName.trim()
                                                }
                                                {
                                                    timeDifference(smm_service.serviceUploadDate) != "NA" &&
                                                    <span class="newArrival p-1 rounded-lg bg-green-300 text-green-500 block w-fit font-semibold text-[9px]">Added {timeDifference(smm_service.serviceUploadDate)} ago</span>
                                                }
                                            </span>
                                            <span class="offer_Minorder line-clamp-1 my-3 w-[13.5%]">
                                                {smm_service.serviceMin}
                                            </span>
                                            <span class="offer_Maxorder line-clamp-1 my-3 w-[13.5%]">
                                                {smm_service.serviceMax}
                                            </span>
                                            <span class="offer_rate line-clamp-1 my-3 w-[13.5%]">
                                                ${smm_service.serviceRate}
                                            </span>
                                            <span class="offer_panelTitle line-clamp-1 my-3 w-[13.5%]">
                                                <a
                                                    class="hover:underline hover:font-semibold"
                                                    href={
                                                        `/panels/` +
                                                        smm_service.panelSlug
                                                    }
                                                >
                                                    {smm_service.panelName}
                                                </a>
                                            </span>
                                            <span class="offer_panelTitle line-clamp-1 my-3 w-[13.5%]">
                                                <a
                                                    rel="nofollow"
                                                    class="hover:underline hover:font-semibold"
                                                    href={
                                                        smm_service.panelRefUrl
                                                    }
                                                >
                                                    {smm_service.panelName}{" "}
                                                    <i class="fa-solid fa-up-right" />
                                                </a>
                                            </span>
                                        </span>
                                    ),
                                )}
                            </div>
                        </div>
                        {allPanelServicesFrm_database.length > servicePageListCount && (
                            <div class="paginationHolder flex flex-col gap-3 w-full items-center my-5"
                                data-pageSize={servicePageListCount} >
                                <div class="paginationBtns flex gap-3 items-center">
                                    <div class="prevbtns flex justify-center items-center cursor-pointer rounded-full size-12 bg-slate-700 text-white border">
                                        <i class="fa-duotone fa-chevrons-left" />
                                    </div>
                                    <div class="paginationInfo text-center">
                                        <span class="rounded-lg p-4 h-full font-bold">
                                            Showing Results
                                        </span>
                                        <span class="pageNumber block" />
                                    </div>
                                    <div class="nextbtns flex justify-center items-center cursor-pointer rounded-full size-12 bg-slate-700 text-white border">
                                        <i class="fa-duotone fa-chevrons-right" />
                                    </div>
                                </div>
                            </div>
                        )}
                    </div>
                ) : (
                    <h2 class="font-bold text-xl text-center">
                        Sorry No Service Available right now for this Website.
                    </h2>
                )
            }
        </article>
    </div>
</PanelLayout>

<script is:inline src="/assets/scripts/searchServices.js"></script>
<script is:inline>
    //#region Filter Options Tools
    const selectedFilter = document.querySelector(
        ".tableTools .filterOptionsHolder .filterSelected",
    );
    const filterOptionsList = document.querySelector(
        ".tableTools .filterOptionsHolder .filterOptions",
    );
    const tableHolder = document.querySelector(".table-wrapper");
    var minValue=0;
    var maxValue=0;
    let pageSize = Number(
        document
            .querySelector(".paginationHolder")
            .getAttribute("data-pageSize"),
    );
    var allInitialDataList = document.querySelectorAll(".offerList");

    if(allInitialDataList.length < pageSize){
        document.querySelector(".paginationHolder").classList.add("hidden")
    }

    const filterOptions = filterOptionsList.querySelectorAll("li");
    selectedFilter.addEventListener("click", () => {
        filterOptionsList.classList.toggle("invisible");
    });
    
    filterOptions.forEach((filOption) => {
        filOption.addEventListener("click", ()=>{
            filterOptionsList.classList.toggle("invisible");
            selectedFilter.querySelector("span").textContent = `Sort by : ${filOption.textContent.trim()} `;
            filterOptionActions(filOption.textContent.trim());
        })
    });

    function filterOptionActions(optionName) {
        if(optionName == "Default (No-Filter)"){
            reConstructDataTable(allInitialDataList);
        }
        else if(optionName == "Newest Arrival"){
            const ele = setNewestArrival(Array.from(allInitialDataList));
            reConstructDataTable(ele);
        }
        else if(optionName == "Services A-Z"){
            sortService();
        }
        else if(optionName == "Price Low to High"){
            sortPrice("LH");
        }
        else if(optionName == "Price High to Low"){
            sortPrice("HL");
        }
        else if(optionName == "Set Price Range"){
            document.querySelector(".price-Range").classList.add("flex");
            document.querySelector(".price-Range").classList.remove("hidden");
            calculatePriceRange();
        }
        pageNo = 1;
        if(allInitialDataList.length > pageSize)
            updatePageNumber();
    }

    function setNewestArrival(elements){
        return elements.sort((a, b) => {
            const aHasSpan = a.querySelector('span.newArrival') !== null;
            const bHasSpan = b.querySelector('span.newArrival') !== null;

            if (aHasSpan && !bHasSpan) {
                return -1;
            } else if (!aHasSpan && bHasSpan) {
                return 1;
            } else {
                return 0;
            }
        });
    }

    function setPriceRange() {
        sortPrice("LH");
        var selectedData = [];
        document.querySelectorAll(".offerList").forEach(data => {
            const price = Number(data.querySelector(".offer_rate").textContent.trim().slice(1));
            if((price >= Number(document.getElementById("priceRangeLow").value) && price <= Number(document.getElementById("priceRangeHigh").value))){
                selectedData.push(data);
            }
        });

        //removing all Data
        allInitialDataList.forEach((data)=>{
            data.remove();
        })

        selectedData.forEach((serviceData) => {
            serviceData.classList.remove("pageCounter");
            serviceData.classList.add("hidden");
            tableHolder.insertAdjacentElement("beforeend" , serviceData);
        });

        selectedData[0].classList.add("pageCounter");
        //Unhide Initial Results
        for (let i = 0; i < pageSize; i++) {
            if(i < selectedData.length){
                selectedData[i].classList.remove("hidden");
                selectedData[i].classList.add("flex");
            }
        }
        
        pageNo = 1;
        updatePageNumber();
        currentPosition =   0;

        document.querySelector(".price-Range").classList.add("flex");
        document.querySelector(".price-Range").classList.remove("hidden");
    }

    function calculatePriceRange() {
        //Only for Calculation of Maximum and Minimum Prices
        const allListArray = Array.from(allInitialDataList);
        const values = allListArray.map(node => {
            const priceSpanTag = node.querySelector(".offer_rate");
            return Number(priceSpanTag.textContent.trim().slice(1));
        });

        // Find the smallest and largest values
        minValue = Math.min(...values);
        maxValue = Math.max(...values);
        document.getElementById("priceRangeLow").value = minValue;
        document.getElementById("priceRangeHigh").value = maxValue;

        document.getElementById("priceRangeLow").min = minValue;
        document.getElementById("priceRangeHigh").max = maxValue;
    }

    function sortService() {
        document.querySelector(".price-Range").classList.remove("flex");
        document.querySelector(".price-Range").classList.add("hidden");

        const allListArray = Array.from(allInitialDataList);
        allListArray.sort((a, b) =>{
            return a.querySelector(".offer_service").textContent.localeCompare(b.querySelector(".offer_service").textContent);
        })
        reConstructDataTable(allListArray);
    }

    function sortPrice(sortType) {
        document.querySelector(".price-Range").classList.remove("flex");
        document.querySelector(".price-Range").classList.add("hidden");
        
        const allPriceListArray = Array.from(allInitialDataList);
        
        allPriceListArray.sort((a,b) =>{
            return sortType == "LH"
            ? Number(a.querySelector(".offer_rate").textContent.trim().slice(1)) - Number(b.querySelector(".offer_rate").textContent.trim().slice(1))
            : Number(b.querySelector(".offer_rate").textContent.trim().slice(1)) - Number(a.querySelector(".offer_rate").textContent.trim().slice(1))
        })
        
        reConstructDataTable(allPriceListArray);
    }

    function reConstructDataTable(arrayList) {
        const allData = document.querySelectorAll(".offerList");
        //removing all Previous data 
        allData.forEach(serviceData => {
            serviceData.remove();
        });
        
        //adding newly sorted list
        arrayList.forEach((serviceData)=>{
            serviceData.classList.remove("pageCounter");
            serviceData.classList.add("hidden");
            tableHolder.insertAdjacentElement("beforeend" , serviceData);
        })
        arrayList[0].classList.add("pageCounter");
        //Unhide Initial Results
        for (let i = 0; i < pageSize; i++) {
            if(i == arrayList.length)
                break;
            arrayList[i].classList.remove("hidden");
            arrayList[i].classList.add("flex");
        }
        currentPosition =   0;
    }
    //#endregion
</script>
