---
import MainLayout from "../layouts/MainLayout.astro";
import SMM_panelCards from "../components/SMM_panelCards.astro";

import servicePlatformsData from "../data/temp-services";
interface serviceSchema{
    serviceColor: string,
    serviceLogo: {
        name: string,
        mediaType: string,
        url: string,
    },
    serviceTitle: string,
}

//Fetching All Services
const allServicesFetch:any = await fetch(Astro.site + "api/services.json");
const allServiceRes : serviceSchema[] = await allServicesFetch.json();

interface panelStructure {
	paneFeaturedImage: {
		url: string;
	};
	id: string;
	panelAPIKey: string;
	panelAPILink: string;
	panelSlug: string;
	panelTextDescrition: string;
	panelTitle: string;
	panelTotalServices: number;
	panelWebsiteURL: string;
}

const allPanels = await fetch(Astro.site + "api/panels.json");
console.log("Current API in Use - ", Astro.site + "api/panels.json");

const responsePanels = await allPanels.json();
// console.log(responsePanels);

---

<MainLayout title="SMM Panel Listing - Home">
	<div class="indexHero text-center lg:w-2/4" slot="heroContent">
		<h1 class="text-3xl font-bold my-5">SMM Panel Listings</h1>
		<p class="my-5">Explore most popular SMM Panels with our listings.</p>

		<div class="searchBox my-5">
			<form
				action=""
				name="searchPanel"
				class="relative flex gap-3 items-center"
			>
				<input
					type="text"
					name="searchQuery"
					id=""
					class="w-full px-3 py-2 text-gray-800 rounded-lg"
					placeholder="Search Youtube Services"
				/>
				<i
					class="fa-solid fa-magnifying-glass absolute right-7 text-blue-500"
				></i>
			</form>
		</div>
	</div>

	<main class="w-full flex gap-5">
		<!-- SMM Panels Listing -->
		<section class="panel-container mb-14 w-[60%]">
			{
				responsePanels.length > 0 
					? 
					<div class="header flex justify-between items-center w-full my-4">
						<span>
							<h2 class="text-xl font-semibold">Latest SMM Panels</h2>
							<p>Explore the most recently added SMM Panels and more...</p>
						</span>
						<a href="/smm-panels">See all</a>
					</div>

					<div class="wrapper flex justify-center items-center flex-wrap gap-5">
					{
						responsePanels.reverse().map((panel: panelStructure) => (
							<SMM_panelCards
								descriptionText={panel.panelTextDescrition.substring(0, 120)}
								imageSrc = {panel.paneFeaturedImage == null ? "" : panel.paneFeaturedImage.url }
								panelTitle={panel.panelTitle}
								slugURL={panel.panelSlug}
							/>
						))
					}

				<!-- <div class="smmpanelCard lg:w-[32%] p-5 rounded-lg flex flex-col gap-3 shadow-lg border border-gray-200">
					<a href="/smm-panel/rec_co62js6annbn1jdj2tg0">
						<img
							src="https://eu-central-1.storage.xata.sh/t6b8oc64ud78bdt92637qte1uk"
							alt="tremendously hm Logo image"
							class="w-full h-44 object-cover"/>
					</a>
					<h3 class="text-blue-600 font-semibold">
						<a href="/smm-panel/rec_co62js6annbn1jdj2tg0">tremendously hm</a>
					</h3>
					<div class="bottom flex justify-between text-sm">
						<span class="url flex items-center gap-2">
							<i class="fa-regular fa-globe"></i>
							<a href="impartial actual">impartial actual</a>
						</span>
					</div>
				</div> -->
			</div>
					: <h2 class="text-xl font-semibold text-center">No Panel is there at the moment.</h2>
			}
		</section>

		<aside class="w-[40%] p-5 flex flex-col gap-y-4">
			<div class="services-cloud-container bg-white p-3 rounded-md">
				<div class="header flex justify-between items-center w-full">
					<span class="w-full">
						<h2 class="text-xl font-semibold text-center">
							All Services
						</h2>
					</span>
				</div>

				<div class="services-cloud flex flex-wrap gap-3 text-white">

					<!-- {
						allServiceRes.map((panel_service)=>(
						<a href={"/services/"+ panel_service.serviceTitle.toLowerCase().replaceAll(" ", "-")} class="px-4 capitalize py-2 rounded-md cursor-pointer hover:brightness-110" style={`background-color: ${panel_service.serviceColor}`}
							>{panel_service.serviceTitle}</a>
						))
					} -->

					{
						servicePlatformsData.map((service) => (
							<a class="px-4 capitalize py-2 rounded-md cursor-pointer" style={`background-color: ${service.color}`}
							>{service.platform}</a>
						))
					}
				</div>
			</div>

			<div class="top-panel-container bg-white p-3 rounded-md hidden">
				<div class="header flex justify-between items-center w-full">
					<span class="w-full">
						<h2 class="text-xl font-semibold text-center">
							Top SMM Panels
						</h2>
					</span>
				</div>

				<div class="top-panel">
					<ul>
						<li>
							<a class="flex gap-3 items-center" href="">
								<img
									src="https://cdn.comparesmm.com/favicons/smmturk.png"
									class="rounded-full size-10"
								/>
								<span class="font-semibold">SMMTurk</span>
							</a>
						</li>
						<li>
							<a class="flex gap-3 items-center" href="">
								<img
									src="https://cdn.comparesmm.com/favicons/smm-cost.png"
									class="rounded-full size-10"
								/>
								<span class="font-semibold">SMM Cost</span>
							</a>
						</li>
						<li>
							<a class="flex gap-3 items-center" href="">
								<img
									src="https://cdn.comparesmm.com/favicons/bulkfollows.png"
									class="rounded-full size-10"
								/>
								<span class="font-semibold">Bulkfollows</span>
							</a>
						</li>
						<li>
							<a class="flex gap-3 items-center" href="">
								<img
									src="https://cdn.comparesmm.com/favicons/crescitaly.png"
									class="rounded-full size-10"
								/>
								<span class="font-semibold">Crescitaly</span>
							</a>
						</li>
						<li>
							<a class="flex gap-3 items-center" href="">
								<img
									src="https://cdn.comparesmm.com/favicons/global-smm.png"
									class="rounded-full size-10"
								/>
								<span class="font-semibold">Global SMM</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
	</main>
</MainLayout>
