---
import HeroSection from "../components/HeroSection.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
    title:string,
    metaDescription?:string
}

//Fetching Site Settings
const allSiteFetch:any = await fetch(Astro.site + "api/siteData.json").then(Response => Response.json());

const {
    title, 
    metaDescription = allSiteFetch[0].siteMetaDescription
    } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={allSiteFetch[0].siteFavicon.url} type="image/x-icon">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <title>{title} - {allSiteFetch[0].SiteTitle}</title>
    <meta name="description" content={metaDescription}>
</head>
<body>
    <Navbar logoImgSrc={allSiteFetch[0].siteLog.url}></Navbar>
    <HeroSection headerBgImgSrc={allSiteFetch[0].homeBackgroundImage.url}>
        <slot name="heroContent"></slot>
    </HeroSection>
    
    <div class="main-placeholder py-5 flex justify-center items-center bg-slate-100">
        <div class="main-container lg:w-[1150px]">
            <slot /> <!-- Main Content Placeholder -->
        </div>
    </div>
    
    <Footer></Footer>
</body>
</html>